<div id="signature"></div>
<form method="POST" id='signature_form'>
  <input type="hidden" name="path" value="">
  <input type="button" name="clear" value="clear">
  <input type="submit" value="submit">
</form>

<script type="text/javascript" language="javascript" charset="utf-8">
  $("#signature").signaturepad();
</script>

